body{
    background-color: #f4f4f4;
}

.ground{
    height: 100px; 
    width: 100%; 
    background-color: rgb(30, 30, 31);
}

h1{
    position: relative;
    top: 50%;  
    left: 50%;
    transform: translate(-8%, -50%);
    font-size:42px;
    color:rgb(239, 240, 244);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.block {
    border-radius: 15px;
    border: 18px solid #32393e;
    padding: 25px;
    width: 440px;
    height: 400px;
}

.Content{
    width: 100%; /* 表單寬度 */
    line-height: 35px;
}

.Title {
    float: left;
    width: 25%; /* Label寬度，視情況調整 */
    margin-right: 20px;
}

.Items {
    float: left;
    width: 25%;
}

.AlignRight {
    text-align: right;
}
